<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EmployeesRestAPISuite">
    <test thread-count="2" name="EmployeesRestAPITest">
        <classes>
            <class name="com.practice.springbootrestassured.testcases.TC001_GetAllEmployees"></class>
            <class name="com.practice.springbootrestassured.testcases.TC002_Create_Employee"></class>
        </classes>
    </test>
</suite>